# Flutter/Dart
.dart_tool/
.packages
build/
.pub-cache/
.pub/

# IDE
.idea/
*.iml
.vscode/

# Platform folders (not needed for this kata)
android/
ios/
windows/
linux/
macos/
web/

# FVM
.fvm/

# Other
.DS_Store
.metadata
pubspec.lock
*.log
